@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .custom-input-reset:focus {
    /* Reset styles when input is focused */
    border-bottom: initial;
    border-color: initial;
    border-style: initial;
    box-shadow: initial;
  }

.react-calendar {
  width: 100% !important;
  border: none !important;
  height: 100% !important;
  border-radius: 0.5rem !important;
}
  